* {
  box-sizing: border-box;
}

.Banner {
  text-align: center;
  line-height: 30px;
  padding-top: 5px;
  font-family: "Gill Sans";
  background-color: #DBF6F8;
  background-image: linear-gradient(to bottom right, #E4F5F7, #D3F0F5);
}

.App-Title {
  font-weight: bold;
  font-size: xx-large;
  color: black;
}

.App-Subtitle {
  font-weight: bold;
  font-size: x-large;
  color: dodgerblue;
  line-height: 20px;
}

.App-Description {
  color: black;
  line-height: 15px;
}

.body-container {
  display: flex;
  width: 90%;
  margin:0 auto;
  border-radius: 1%;
  text-align: center;
  color: black;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgba(160, 158, 158, 0.24), 0 10px 10px 0 rgba(182, 181, 181, 0.19);
}